h1 {
	font-family: Georgia, Serif;
	font-size: 5em;
	font-style: bold;
	text-align: center;
	text-shadow: .2em.2em black;
	margin-bottom: 0em;
	color: white;
	background-color: green;
	
}

body {
	font-family: Georgia;
	font-size: 1.5em;
	font-style: bold, italic;
	text-align: left;
	margin-bottom: 0em;
	color: white;
	background-color: purple;

}

h2 {
	font-family: georgia;
	font-style: bold;
	text-align: left; 
	margin-bottom: 0em;
	color: gray;

}

h3 {
	font-family: georgia;
	text-align: center; 
	margin-bottom: 0em;
	color: white;

}


	}